*{
    font-family: 'Montserrat', sans-serif;
}
body{
    max-width: 920px;
    margin: 50px auto;
}
.round-img{
    width: 200px;
    height: 200px;
    background-image: url("../img/jhordan.jpg");
    background-size: cover;
    border-radius: 50%;
}
nav{
    /* background-color: #0d5aaa; */
    background: rgba(13,89,170,1);
background: -moz-linear-gradient(top, rgba(13,89,170,1) 0%, rgba(13,89,170,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,89,170,1)), color-stop(50%, rgba(13,89,170,1)), color-stop(50%, rgba(214,214,214,1)), color-stop(100%, rgba(214,214,214,1)));
background: -webkit-linear-gradient(top, rgba(13,89,170,1) 0%, rgba(13,89,170,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
background: -o-linear-gradient(top, rgba(13,89,170,1) 0%, rgba(13,89,170,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
background: -ms-linear-gradient(top, rgba(13,89,170,1) 0%, rgba(13,89,170,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
background: linear-gradient(to bottom, rgba(13,89,170,1) 0%, rgba(13,89,170,1) 50%, rgba(214,214,214,1) 50%, rgba(214,214,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d59aa', endColorstr='#d6d6d6', GradientType=0 );
}
small{
    color: black;
}
p{
    font-size:20px;
    text-align: justify;
}
img{
    margin: 0 auto;
}
footer{
    margin-top: 20px;
    border: solid 1px;
    /* background-color: red; */
    /* height: 150px; */
}
.title{
    letter-spacing: 20px;
    text-align: center;
    color: #c70000;
    font-weight: 900;
}
.bar-container{
    border: 1px solid #d2d2d2;;
    width: 100%;
    height: 15px;
    border-radius: 15px;
    background-color: #d2d2d2;;
}
.bar-container > .bar-progress{
    border-radius: 15px;
    background-color: #737373;
    height: 100%;
    width: 0%;
    transition: width 2.5s;
    transition-delay: .2s;
}
.separate{
    border-top: 2px solid #8c8c8c;
}

.bar-progress.bp-red{
    background-color: #dd1b16 !important;
}
.bar-progress.bp-orange{
    background-color: #e54c21 !important;
}
.bar-progress.bp-blue{
    background-color: #0170ba !important;
}
.bar-progress.bp-blue-2{
    background-color: #0769ad!important;
}
.bar-progress.bp-yellow{
    background-color: #d6ba32 !important;
}
.bar-progress.bp-purple{
    background-color: #6181b6 !important;
}
.bar-progress.bp-green{
    background-color: #41b883 !important;
}
.bar-progress.bp-brown{
    background-color: #c59a6d !important;
}

.bp-red:hover{
    background-color: #e44640 !important;
}
.bp-orange:hover{
    background-color: #e66e4d !important;
}
.bp-blue:hover{
    background-color: #3385bd !important;
}
.bp-blue-2:hover{
    background-color: #266da0!important;
}
.bp-yellow:hover{
    background-color: #d4c267 !important;
}
.bp-purple:hover{
    background-color: #8398bb !important;
}
.bp-green:hover{
    background-color: #67be97 !important;
}
.bp-brown:hover{
    background-color: #cfb69a !important;
}

.bar-progress.bp-25{
    width: 25%;
}
.bar-progress.bp-30{
    width: 30%;
}
.bar-progress.bp-50{
    width: 50%;
}
.bar-progress.bp-70{
    width: 70%;
}
.bar-progress.bp-80{
    width: 80%;
}
.bar-progress.bp-85{
    width: 85%;
}
.bar-progress.bp-90{
    width: 90%;
}
.bar-progress.bp-95{
    width: 95%;
}

.fs-display-1 > b{
    border-radius: 5px;
    background-color: #d6d6d6;
    box-shadow: 5px 5px 15px 5px;
}
.carousel-inner{
    max-height: 470px;
}
.carousel-control-next, 
.carousel-control-prev{
    width: 5% !important;
    background-color: black;
}
.carousel-indicators li{
    background-color: rgba(0, 0, 0, 0.5);
}
lx-button{
    float: right;
}

@media (max-width: 915px) {
    body {
      margin: 0;
    }
    .round-img{
        margin: 0 auto;
    }
    .pagination-panel{
        left: 27%;
    }
  }