<lx-tabs lx-color="red">
    <lx-tab lx-label="About Me">
        <div class="p+"  flex-container="row" flex-align="center center">
            <div flex-item="4">
                <img src="./img/mapa.png" width="150" alt="Born">
            </div>
            <div flex-item="8">
                <p>
                    Colombiano nacido en Cúcuta, Norte de Santander el 20 de Septiembre de 1993 y
                    viviendo en Bogotá.
                </p>
            </div>
        </div>
        <div class="divider divider--dark"></div>

        <div class="p+" flex-container="row" flex-align="center center">
            <div flex-item="8">
                <p>
                    Curse mi básica primaria y secundaria en el <b>Colegio San Luis 
                    de la Policia Nacional</b>.
                </p>
            </div>
            <div flex-item="4">
                <img src="./img/sanluis.png" width="200" alt="Colegio San Luis">
            </div>
        </div>
        <div class="divider divider--dark"></div>

        <div class="p+" flex-container="row" flex-align="center center">
            <div flex-item="4">
                <img src="./img/sena.png" width="150" alt="SENA">
            </div>
            <div flex-item="8">
                <p>
                    Avanzando en mis estudios profesionales, empecé en el SENA donde
                    completé un <b>Tecnólogo en Análisis y Desarrollo de Sistemas de Información (ADSI)</b></p>.
                </p>
            </div>
        </div>
        <div class="divider divider--dark"></div>

        <div class="p+" flex-container="row" flex-align="center center">
                <div flex-item="8">
                    <p>
                        Posteriormente ingrese a la Fundación Universitaria CIDCA donde realicé un <b>Tecnologo en Sistemas</b>.
                    </p>
                </div>
                <div flex-item="4">
                    <img src="./img/cidca.png" width="200" alt="CIDCA">
                </div>
            </div>
        <div class="divider divider--dark"></div>

        <div class="p+" flex-container="row" flex-align="center center">
            <div flex-item="4">
                <img src="./img/libertadores_logo.png" width="250" alt="Los Libertadores">
            </div>
            <div flex-item="8">
                <p>
                    Culminando mis estudios universitarios estudie en la <b>Fundación Universitaria Los Libertadores Ingenieria de Sistemas.</b>
                </p>
            </div>
        </div>
        <div class="divider divider--dark"></div>
        <div class="p+" flex-container="row">
            <div flex-item="12">
                <h1 class="title">Perfíl</h1>
                <p>
                    Soy alguien que colabora mucho al trabajar en equipo la cual trata de aportar ideas a los proyectos e
                    inconvenientes que surjan en el mismo.
                    Responsable y capaz de realizar cualquier labor que sea necesario en pro del equipo.
                    Suelo mantener altas mis expectativas y aspiraciones manteniendo el órdenes.
                </p>
            </div>
        </div>
    </lx-tab>
    <lx-tab lx-label="Experiencia" ng-mouseover="progress = true">
        <h1 class="title">Skills</h1>
        <div class="p+" flex-container="row" flex-alighn="center center">
            <div class="p+" flex-item="6" flex-container="row" flex-align="center center">
                <div flex-item="4">
                    <img src="./img/html.png" width="150" alt="HTML">
                </div>
                <div flex-item="8" style="text-align: right;">
                    <div class="bar-container">
                        <div class="bar-progress bp-orange" ng-class="{'bp-90':progress}"></div>
                    </div>
                    <b>90 %</b>
                </div>
            </div>
            <div class="p+" flex-item="6" flex-container="row" flex-align="center center">
                <div flex-item="4">
                    <img src="./img/css.png" width="115" alt="CSS">
                </div>
                <div flex-item="8" style="text-align: right;">
                    <div class="bar-container">
                        <div class="bar-progress bp-blue" ng-class="{'bp-80':progress}"></div>
                    </div>
                    <b>80 %</b>
                </div>
            </div>
        </div>
        <div class="p+" flex-container="row" flex-alighn="center center">
            <div class="p+" flex-item="6" flex-container="row" flex-align="center center">
                <div flex-item="4">
                    <img src="./img/javascript.png" width="150" alt="HTML">
                </div>
                <div flex-item="8" style="text-align: right;">
                    <div class="bar-container">
                        <div class="bar-progress bp-blue-2" ng-class="{'bp-90':progress}"></div>
                    </div>
                    <i>jQuery - </i>
                    <b>90 %</b>
                    <div flex-item="8" style="text-align: right;">
                        <div class="bar-container">
                            <div class="bar-progress bp-green" ng-class="{'bp-30':progress}"></div>
                        </div>
                        <i>VueJs - </i>
                        <b>30 %</b>
                    </div>
                    <div flex-item="8" style="text-align: right;">
                        <div class="bar-container">
                            <div class="bar-progress bp-red" ng-class="{'bp-25':progress}"></div>
                        </div>
                        <i>AngularJs - </i>
                        <b>25 %</b>
                    </div>
                </div>
            </div>
            <div class="p+" flex-item="6" flex-container="row" flex-align="center center">
                <div flex-item="4">
                    <img src="./img/php.png" width="115" alt="CSS">
                </div>
                <div flex-item="8" style="text-align: right;">
                    <div class="bar-container">
                        <div class="bar-progress bp-purple" ng-class="{'bp-95':progress}"></div>
                    </div>
                    <b>95 %</b>
                </div>
            </div>
        </div>
        <div class="p+" flex-container="row" flex-alighn="center center">
            <div class="p+" flex-item="6" flex-container="row" flex-align="center center">
                <div flex-item="4">
                    <img src="./img/sql.png" width="150" alt="SQL">
                </div>
                <div flex-item="8" style="text-align: right;">
                    <div class="bar-container">
                        <div class="bar-progress bp-brown" ng-class="{'bp-95':progress}"></div>
                    </div>
                    <i>MariaDB - </i>
                    <b>95 %</b>
                    <div flex-item="8" style="text-align: right;">
                        <div class="bar-container">
                            <div class="bar-progress bp-blue-2" ng-class="{'bp-70':progress}"></div>
                        </div>
                        <i>PostgreSQL - </i>
                        <b>70 %</b>
                    </div>
                    <div flex-item="8" style="text-align: right;">
                        <div class="bar-container">
                            <div class="bar-progress" ng-class="{'bp-50':progress}"></div>
                        </div>
                        <i>Sql Server - </i>
                        <b>50 %</b>
                    </div>
                </div>
            </div>
            <div class="p+" flex-item="6" flex-container="row" flex-align="center center">
                <!-- <div flex-item="4">
                    <img src="./img/css.png" width="115" alt="CSS">
                </div>
                <div flex-item="8" style="text-align: right;">
                    <div class="bar-container">
                        <div class="bar-progress bp-blue bp-80"></div>
                    </div>
                    <b>80 %</b>
                </div> -->
            </div>
        </div>
            <div class="divider divider--dark"></div>
            <h1 class="title">Laboral</h1>
            <div class="p+ separate" flex-container="row" flex-align="center center" ng-pagination="exp in experiencia" ng-pagination-size="2">
                <div flex-item="4">
                    <h1 class="fs-display-2">
                        <b>{{exp.nombre}}</b>
                    </h1>
                    <span class="fs-headline">
                        <i class="mdi mdi-clock-start"></i>  {{exp.fecha_inicio_corta}}<br>
                        <i class="mdi mdi-clock-end"></i>  {{exp.fecha_fin_corta}}
                    </span>
                </div>
                <div flex-item="8">
                    <p>
                        <i class="mdi mdi-tie"></i> {{exp.cargo}}<br>
                        <i class="mdi mdi-map-marker"></i> {{exp.direccion}}<br>
                        <i class="mdi mdi-phone"></i> {{exp.telefono}}
                    </p>
                    <div class="divider divider--dark"></div>
                    <p>
                        {{exp.comentario}}<br>
                    </p>
                </div>
            </div>
            <ng-pagination-control pagination-id="experiencia"></ng-pagination-control>
    </lx-tab>
    <lx-tab lx-label="Portafolio">
        <div class="p+" ng-pagination="porta in portafolio" ng-pagination-size="1">
            <!-- <div class="p+"> -->
                <div class="card">
                    <div class="card__img card__img--top">
                        <img ng-src="./img/portafolio/{{porta.portada}}">
                        <span class="fs-display-1 tc-black-1 display-block"><b>{{porta.nombre}}</b></span>
                    </div>
            
                    <div class="p+">
                        <!-- <span class="fs-subheading-1 tc-black-2 display-block">{{porta.link}}</span> -->
            
                        <div class="paragraph fs-body-1">
                            <p>
                                {{porta.resumen}}
                            </p>
                        </div>
                    </div>
            
                    <div class="card__actions">
                            <lx-button ng-href="#!/portafolio/{{porta.id}}" lx-color="red" lx-type="raised">Leer mas</lx-button>
                            <a target="_blank" ng-href="{{porta.link}}"><lx-button lx-color="black" lx-type="flat">Link</lx-button></a>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <ng-pagination-control pagination-id="portafolio"></ng-pagination-control>
    </lx-tab>
</lx-tabs>
