<div class="p+" flex-container="row" flex-align="center center">
    <h1 style="text-shadow: 3px 3px 10px #ff7373;" class="fs-display-3 display-block"><b>{{portafolio.nombre}}</b></h1>
</div>

<div id="slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0"></li>  
        <li data-target="#slider" ng-repeat="galeria in portafolio.galeria" data-slide-to="{{galeria.imgId}}"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-50" ng-src="./img/portafolio/{{portafolio.nombre}}/portada.jpg" alt="Portada">
        </div>
        <div class="carousel-item" ng-repeat="img in portafolio.galeria">
            <img class="d-block w-50" ng-src="./img/portafolio/{{img.img}}" alt="{{img.img}}">
        </div>
    </div>
    <a class="carousel-control-prev" data-target="#slider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-target="#slider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<div class="divider divider--dark"></div>
<div class="p+" flex-container="row" flex-align="center center">
    <p>
        {{portafolio.descripcion}}
    </p>
</div>
<lx-button ng-href="#!/" lx-type="raised" lx-color="red"><i class="mdi mdi-keyboard-return"></i> Atras</lx-button>